{% extends 'templates/app.twig' %}

{% block content %}
    <div class="media" align="center">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{{'img/broforce-logo.png'}}">
            </a>
        </div>

    </div>
{% endblock %}