{% extends 'templates/app.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome at Broforce-Industries!</h1>
        <p>Your partner in IT-Security.</p>
        <p>Enjoy your stay!</p>
    </div>
{% endblock %}