{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Your new Password</div>
                <div class="panel-body">
                    <p>Your new password: {{ pw }}</p>
                    <p>Please change this password after your next login.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}