<div class="container">
    <div class="jumbotron">
        <h1>We are sorry, but you are not authorized.</h1>
        <h2>Please contact our admin for help! You will need a valid client certificate to visit our beautiful site.</h2>
        <h3>| insert contact information here |</h3>
    </div>
</div>